<%# <%= javascript_pack_tag 'hello_react' %> 

<div class="pt-2">
    <h1 class="display-6">Genshin Impact</h1>
    <h4>
        <small class="text-muted">Version Calendar <strong>Beta</strong></small>
    </h4>

    <div class="p-2">
        <div id="calendar"></div>
        <%= javascript_pack_tag 'calendar' %>
    </div>
</div>
