<%# <%= javascript_pack_tag 'hello_react' %>

<%# <div id="date-range"></div> %>
<div class="paimongems-input">
    <div className="container">
		<div className="row">
			<div className="col">
				<h5 class="ms-2 my-4">Primogems Planner </h5> 
			</div>
		</div>
	</div>
    <%# <div id="planner-app"></div> %>

    <div id="planner" class="my-4"></div>
    <%= javascript_pack_tag 'planner' %>
</div>
