<!-- Modal -->
<div class="modal fade" id="donationModal" tabindex="-1" aria-labelledby="donationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="donationModalLabel">Donation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>You can help fund this project by donating any amount.</p>
        <a target="_blank" href="https://www.paypal.com/donate?hosted_button_id=YCBC9K2HFR68W" class="link-success">Donate via PayPal</a>
        <div class="paypal donate">
            <form action="https://www.paypal.com/donate" method="post" target="_blank">
            <input type="hidden" name="hosted_button_id" value="YCBC9K2HFR68W" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            </form>
            <p>Your help is greatly appreciated. 💗</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->