<footer class="footer w-100 p-3 bg-light text-center ">
    <span class="text-muted">
      <small>Report bugs or suggestions to: paimongms@gmail.com</small>
      <br>
      © 2021 Paimongems. All rights reserved.
    </span>
</footer>
