<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%# <a class="navbar-brand" href="#">Paimongems</a> %>
    <a href="#" class="pe-auto" data-bs-toggle="modal" data-bs-target="#donationModal"> 
      <img src="https://cdn.discordapp.com/emojis/795762965491089410.png" alt="Paimongems" width="50px" height="50px"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/planner">Planner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calendar">Version Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map">Interactive Map</a>
        </li>
      </ul>
      <form class="d-flex">
        <h5 class="me-3 text-danger">Beta</h5>
      </form>
    </div>
  </div>
</nav>






